<h1>TODO List</h1>

<a href="/create/">Create New TODO</a>

<ul>
  {% for todo in todos %}
    <li>
      <strong>{{ todo.title }}</strong>
      {% if todo.resolved %}(Resolved){% endif %}

      <br>
      Due: {{ todo.due_date|default:"No date" }}

      <br>
      <a href="/{{ todo.id }}/edit/">Edit</a> |
      <a href="/{{ todo.id }}/delete/">Delete</a> |
      {% if not todo.resolved %}
        <a href="/{{ todo.id }}/resolve/">Mark Done</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
